﻿@model InteligentnePodlewanieMvc.Models.Urzadzenie

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Urzadzenie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UzytkownikId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UzytkownikId)
            @Html.ValidationMessageFor(model => model.UzytkownikId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nazwa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nazwa)
            @Html.ValidationMessageFor(model => model.Nazwa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Kod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Kod)
            @Html.ValidationMessageFor(model => model.Kod)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
