﻿@model InteligentnePodlewanieMvc.Models.Urzadzenie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Urzadzenie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nazwa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nazwa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Wersja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Wersja)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "List")
    </p>
}
