﻿@model IEnumerable<InteligentnePodlewanieMvc.Models.Urzadzenie>

@{
    ViewBag.Title = "Moje Urządzenia";
    bool isAdmin = false;
    if (WebSecurity.GetUserId(User.Identity.Name) == 4)
    {
        isAdmin = true;
    }
}

<h2>Moje urządzenia</h2>

@{if (isAdmin)
  {
    <text>
    <p>
        @Html.ActionLink("Utwórz nowe urządzenie", "Create")
    </p>
    </text>
  }
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wersja)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Nazwa, "List", "Task", new { ApplianceId = item.Id }, new { ApplianceId = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wersja)
            </td>
            @{
                if (isAdmin)
                {
                    <text>
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |            
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                    </td>
                    </text>
                }
            }
        </tr>
    }

</table>
