﻿@{
    ViewBag.Title = "System inteligentnego podlewania umożliwia zdalne sterowanie wyjściami komputera Raspberry Pi.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>                
            </hgroup>            
        </div>
    </section>
}
<h3>W celu demonstracji działania systemu należy:</h3>
<ol class="round">
    <li class="one">
        <h5>Założyć nowe konto użytkownika.</h5>        
        <br />
    </li>

    <li class="two">
        <h5>Poprosić administratora o przydzielenie i skonfigurowanie Raspberry Pi.</h5>        
        <br />
    </li>

    <li class="three">
        <h5>Stworzyć własny harmonogram zarządzania wyjściami sterownika.</h5>        
        <br />
    </li>
</ol>
