﻿@model InteligentnePodlewanie.Models.Zadanie

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<fieldset>
    <legend>Zadanie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Port)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Port)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCzas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCzas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CzasDzialania)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CzasDzialania)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UrzadzenieId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UrzadzenieId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
