﻿@model InteligentnePodlewanieMvc.Models.Zadanie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Zadanie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Port)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Port)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCzas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCzas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CzasDzialania)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CzasDzialania)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "List", new { ApplianceId = Model.UrzadzenieId })
    </p>
}
