﻿@model InteligentnePodlewanieMvc.Models.Task

@{
    ViewBag.Title = "Create";
}

<h2>Utwórz zadanie</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Zadanie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Port)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Port)
            @Html.ValidationMessageFor(model => model.Port)
        </div>

        <div class="editor-label">
            Data
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.StartDateTime)
            @Html.ValidationMessageFor(model => model.StartDateTime)
        </div>   
  
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script> 
        <link rel="stylesheet" href="/resources/demos/style.css">   
        <script>
            $(function () {
                $("#datepicker").datepicker({
                    dateFormat: 'yy-mm-dd',
                });
            });
        </script> 
        <input type="text" id="datepicker" size ="30" name ="chosenDate"/>         
        <script>
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd'                               
            });
        </script> 
        
        <p>Godzina</p> 
        @{
    string dateTime = DateTime.Now.Hour.ToString() + ":" + DateTime.Now.Minute.ToString() + ":" + DateTime.Now.Second.ToString();
        }     
        <input type="text" size ="30" name ="chosenHour" value ="@dateTime" />
        @Html.ValidationMessage("chosenHour")         

        <div class="editor-label">
            @Html.LabelFor(model => model.DurationTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DurationTime)
            @Html.ValidationMessageFor(model => model.DurationTime)
        </div>

        <p>
            <input type="submit" value="Utwórz"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Wróć", "List", new { ApplianceId = ViewBag.ApplianceId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}