﻿@model IEnumerable<InteligentnePodlewanieMvc.Models.Task>

@{
    ViewBag.Title = "Harmonogram podlewania"; 
}

<h2>Harmonogram podlewania - @ViewBag.ApplianceName</h2>

<p>
    @Html.ActionLink("Utwórz nowe zadanie", "Create", new { ApplianceId = ViewData["ApplianceId"] }, new { ApplianceId = ViewData["ApplianceId"] })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Port)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Port)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationTime)
        </td>       
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |            
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
